@import './blocks/variables';
@import './blocks/mixins';
@import './blocks/index';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, serif;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

a, input, button, select{
    font-family: 'Montserrat', Arial, Helvetica, serif;
}

.container{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
    padding-top: 16px;

    &__logo{
        color: $text-inverse;
    }
}

.logo{
    cursor: pointer;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.search{
    &__input{
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    border: 1px solid $text-inverse;
    padding: 11px 32px;
    color: $text-inverse;

        &::placeholder{
            font-size: 16px;
            @include text-base;
            color: $text-inverse;
        }
    }
}

.nav{
    
    &__list{
        display: flex;
        gap: 32px;
        list-style-type: none;
    }

    &__link{
        text-decoration: none;
        color: $text-inverse;
        font-size: 16px;
        @include text-base;
    }
}

.section-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $text-primary;
}

.footer{
    background-color: $text-muted;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 60px;

    &__logo{
        color: $text-primary;
    }

    &__content{
        display: flex;
        gap: 130px;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $text-primary;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__item{
        list-style-type: none;
    }

    &__link{
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $text-secondary;
    }
}

.subscribe{
    display: flex;
    flex-direction: column;
}

.social-icons{
    display: flex;
    gap: 20px;

    &__item{
        text-decoration: none;

        &:hover path{
            fill: $text-primary;
        }
    }
}