@import './blocks/mixins';
@import './blocks/index';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, serif;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

a, input, button, select{
    font-family: 'Montserrat', Arial, Helvetica, serif;
}

.container{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #FFFFFFCC;
    padding-bottom: 16px;
    padding-top: 16px;

    &__logo{
        color: #fff;
    }
}

.logo{
    cursor: pointer;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.search{
    &__input{
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 11px 32px;
    color: #fff;

        &::placeholder{
            font-size: 16px;
            @include text-base;
            color: #FFF;
        }
    }
}

.nav{
    
    &__list{
        display: flex;
        gap: 32px;
        list-style-type: none;
    }

    &__link{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        @include text-base;
    }
}

.section-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

.footer{
    background-color: #F7F6F6;

    &__logo{
        color:#000;
    }
}