*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, serif;
}

a, input, button, select{
    font-family: 'Montserrat', Arial, Helvetica, serif;
}

.container{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.section-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

@import './blocks/mixins';
@import './blocks/index';