@mixin background-custom{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@mixin text-base{
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin content-stack{
    display: flex;
    flex-direction: column;
    gap: 32px;
}