@mixin background-custom{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 64px;
}
<<<<<<< HEAD

@mixin text-base{
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
=======
>>>>>>> 7c4a2ed654760035029153d954d8ac5e44bda4c2
